body {
  margin: 0;
}

.color-body {
  background-color: #000000;
}

.nav-style {
  height: 90px;
  display: flex;
  width: 1440px;
  background-color: #000000;
  color: #ddd;
  box-shadow: 4px 1px 20px 5px rgba(73, 73, 73, 0.5);
  justify-content: center;
  align-items: center;
}

.logo {
  height: 72px;
  width: 200px;
  padding-right: -100px;
}

.search {
  position: relative;
  width: 100%;
  max-width: 600px; /* الحد الأقصى للعرض */
  margin: 0 auto; /* لضبط العنصر في المنتصف */
  color: #ddd; /* لون النص */
}

.search input {
  width: 100%; /* لجعل المدخل يأخذ كامل العرض */
  height: 60px;
  text-indent: 50px; /* المسافة بين النص وحدود المدخل، مع ترك مساحة للأيقونة */
  border-radius: 50px; /* جعل الحواف مستديرة */
  background-color: #0f0f0f; /* الخلفية الداكنة */
  box-shadow: 4px 1px 20px 5px rgba(73, 73, 73, 0.5); /* الظل الخفيف */
  border: none; /* إزالة الحدود */
  color: #ddd; /* لون النص */
  font-size: 16px; /* حجم النص */
}

.search input:focus {
  color: #ddd; /* لون النص */

  box-shadow: 4px 6px 8px rgba(159, 157, 157, 0.5); /* الظل الخفيف */
  background-color: #070707; /* الخلفية الداكنة */

  outline: none; /* إزالة الإطار الافتراضي */
}

.search i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%); /* لضبط الأيقونة في المنتصف عموديًا */
  color: #f1f1ef; /* لون الأيقونة */
  font-size: 18px; /* حجم الأيقونة */
}

.search i:focus {
  outline: none; /* إزالة الإطار الافتراضي عند التركيز */
}
.search input::placeholder {
  color: #a29f9f;
  opacity: 1; /* للتأكد من ظهور اللون بوضوح */
}

.card {
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  height: 375px;
}

.card_image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #0f0f0f;
}

.card:hover .card_overlay {
  opacity: 0.8;
}

.overlay_text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.font {
  font-family: "Almarai", sans-serif;
  font-family: "Almarai", sans-serif;
  color: #555555;
}

.color {
  color: #555555;
  background-color: #0f0f0f;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1rem;
  padding-bottom: 20px;
}
.card-detalis {
  height: 370px;
  border-radius: 20px;
  background-color: #1f1e1e;
  color: #e8e5e5;
}
.card-story {
  height: 300px;
  border-radius: 20px;
  background-color: #1f1e1e;
  color: #e8e5e5;
}
.img-movie {
  height: 360px;
  padding: 10px;
  border-radius: 20px;
}

.card-text-details {
  color: #e8e5e5;
  font-family: Almarai;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
  background-color: #1f1e1e;
}

.card-text-story {
  color: #e8e5e5;
  font-family: Almarai;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  background-color: #1f1e1e;
}
.card-text-title {
  color: #e8e5e5;
  font-family: Almarai;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.sidebar {
  display: flex;
  gap: 2rem;
  background-color: #000000; /* لون خلفية داكن */
  color: #e8e5e5; /* لون النص أبيض */
  padding: 20px; /* إضافة مساحة داخلية */
  border-radius: 8px; /* حواف مستديرة */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* ظل خفيف لجعل السايدبار يبرز */
  margin-top: 30px;
}

.sidebar h5 {
  color: #e8e5e5; /* لون عنوان التصنيفات */
  margin-bottom: 15px; /* المسافة بين العنوان والعناصر التالية */
}

.sidebar .dropdown {
  margin-bottom: 15px; /* المسافة بين القوائم المنسدلة */
}

.sidebar .dropdown-toggle {
  background-color: #1a1a1a; /* لون زر القوائم المنسدلة */
  color: #e8e5e5; /* لون النص في الزر */
  border: none; /* إزالة الحدود */
  border-radius: 5px; /* حواف مستديرة */
  transition: background-color 0.3s; /* تأثير عند التمرير */
}

.sidebar .dropdown-toggle:hover {
  background-color: #232323; /* لون الزر عند التمرير */
  color: #e8e5e5; /* لون النص عند التمرير */
}

.sidebar .dropdown-item {
  color: #e8e5e5; /* لون النص لعناصر القوائم المنسدلة */
  background-color: #222222; /* لون الزر عند التمرير */
}

.sidebar .dropdown-item:hover {
  background-color: #151515; /* لون خلفية العناصر عند التمرير */
  color: #e8e5e5; /* لون النص عند التمرير */
}

.footer {
  height: 90px;
  width: 100%;
  background-color: #000000;
  color: #ddd; /* لون النص */
  box-shadow: 4px 1px 20px 5px rgba(73, 73, 73, 0.5); /* الظل الخفيف */
}

.pagination {
  background-color: #121212; /* لون خلفية داكن */
  border-radius: 8px; /* حواف مستديرة */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* ظل خفيف لإبراز المكون */
}

.pagination .page-item {
  margin: 0 5px; /* مسافة بين عناصر التصفح */
}

.pagination .page-link {
  color: #e8e5e5; /* لون النص للأزرار */
  background-color: #1a1a1a; /* لون خلفية الأزرار */
  border: none; /* إزالة الحدود */
  border-radius: 5px; /* حواف مستديرة */
  padding: 10px 15px; /* إضافة مساحة داخلية */
  transition: background-color 0.3s, color 0.3s; /* تأثيرات التمرير */
}

.pagination .page-link:hover {
  background-color: #5d5d5e; /* لون الخلفية عند التمرير */
  color: #e8e5e5; /* لون النص عند التمرير */
}

.pagination .active .page-link {
  background-color: #19191a; /* لون الخلفية للزر النشط */
  color: #e8e5e5; /* لون النص للزر النشط */
  pointer-events: none; /* عدم السماح بالنقر على الزر النشط */
}

.pagination .break-link {
  color: #e8e5e5; /* لون النص لفاصل الصفحات */
  padding: 10px 15px; /* إضافة مساحة داخلية */
}
@media (max-width: 576px) {
  .pagination {
    max-width: 570px;
    padding: 0.5rem !important;
  }
  .pagination .page-item {
    margin: 0 2px; /* مسافة بين عناصر التصفح */
  }

  .pagination .page-link {
    padding: 2px 4px;
  }
  .sidebar {
    gap: 1rem;

    padding: 10px;
    margin-top: 15px;
  }

  .sidebar h5 {
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .sidebar .dropdown {
    margin-bottom: 10px;
  }

  .sidebar .dropdown-toggle {
    font-size: 0.7rem;
  }

  .nav-style {
    height: 70px;
  }
  .nav-style a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
  }

  .logo {
    max-width: 100px;
    max-height: 45px;
  }

  .search {
    position: relative;
    width: 90%;
    max-width: 450px;
    height: 45px;
  }

  .search input {
    width: 100%;
    height: 45px;
    text-indent: 50px;
  }
  .card-detalis {
    height: 300px;
    border-radius: 10px;
  }
  .card-story {
    height: 250px;
    border-radius: 20px;
  }
  .img-movie {
    height: 250px;
    padding: 10px;
    border-radius: 20px;
  }

  .card-text-details {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
  }

  .card-text-story {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    background-color: #1f1e1e;
  }
  .card-text-title {
    font-size: 28px;
    line-height: 25px;
  }
}

@media (max-width: 340px) {
  .card-detalis {
    height: 250px;
    border-radius: 5px;
  }
  .card-story {
    height: 250px;
  }
  .img-movie {
    height: 200px;
    padding: 5px;
  }

  .card-text-details {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 13px;
  }

  .card-text-story {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 15px;
  }
  .card-text-title {
    font-size: 22px;
    line-height: 15px;
  }
}
